langchain
torch
accelerate
#bitsandbytes
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
pypdf
tiktoken
huggingface-hub
langchain-community
langchain-huggingface
ctransformers